.aboutSection {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(167, 160, 160);
}

.aboutSectionContainer {
  position: absolute;
    margin-top: 3vmax;
  left: 50%;
  top: 50%;
  background-color: rgb(255, 255, 255);
  width: 60vw;
  height: 70vh;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.192);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutSectionContainer > div > div > img {
  width: 20vmax;
}
.aboutSectionContainer > h1 {
  font: 400 3vmax "Roboto";
  color: #006064;
  margin: 2vmax;
}

.aboutSectionContainer > div {
  display: flex;
  width: 100%;
}

.aboutSectionContainer > div > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
}

.aboutSectionContainer > div > div > span {
    margin-top: 3vmax;
  font: 100 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.616);
  text-align: center;
  width: 80%;
}

.aboutSectionContainer2 {
  border-left: 1px solid rgba(0, 0, 0, 0.116);
    display: flex;
  flex-direction: row;
}

.aboutSectionContainer2 > a > svg {
  font-size: 3vmax;
}

.facebookSvgIcon {
  color: rgba(73, 48, 185, 0.767);
}

.instagramSvgIcon {
  color: rgb(144, 81, 202);
}
.linkedInSvgIcon {
  color: rgba(61, 36, 175, 0.767);
}
@media screen and (max-width: 600px) {
  .aboutSectionContainer > div {
    display: block;
  }

  .aboutSectionContainer > h1 {
    font: 400 5vmax "Roboto";
    margin: 3vmax;
  }

  .aboutSectionContainer > div > div > p {
    font: 100 2vmax "Roboto";
  }

  .aboutSectionContainer > div > div > span {
    font: 100 1.4vmax "Roboto";
    width: 70%;
  }

  .aboutSectionContainer2 {
    border-left: none;
  }

  .aboutSectionContainer2 > h2 {
    font: 100 3vmax "Roboto";
    margin: 2vmax;
  }

  .aboutSectionContainer2 > a > svg {
    font-size: 6vmax;
    margin: 1vmax;
  }
}