.banner {
  background-image: url("../../images/Boi_utsob.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vmin;

}

.heading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
.banner {
  height: 80vmin;
  margin-top: -4vmax;

}
}





