
.footer {
  background-color: #006064;
  color: white;
  display: flex;
  align-items: center;
}


.container-footer {
  width: 100%;
  text-align: center;
}

.container-footer > p {
  max-width: 60%;
  margin: auto;
}

.container-footer > img {
  width: 12vmax;
  cursor: pointer;
}
