.LoginRegisterContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
}

.LoginRegisterBox {
  background-color: white;
  width: 30vw;
  height: 75vh;
  box-sizing: border-box;
  overflow: hidden;
}
.login_Register_toggle {
  display: flex;
  height: 3vmax;
}
.login_Register_toggle > p {
  color: rgba(0, 0, 0, 0.678);
  font: 300 1vmax "Roboto";
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
}
.login_Register_toggle > p:hover {
  color: #006064;
}

.LoginRegisterBox > div > button {
  background-color: #006064;
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.loginForm,
.RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.RegisterForm {
  transform: translateY(-100%) translateX(-100vmax);
}

.loginForm > div,
.RegisterForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.loginForm > div > input,
.RegisterForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.loginForm > div > svg,
.RegisterForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.loginForm > a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 0.8vmax "Gill Sans";
}

.loginForm > a:hover {
  color: black;
}

.loginBtn,
.RegisterBtn {
  border: none;
  background-color: #006064;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

  

  #registerImage > input::file-selector-button {
    height: 4vh;
    font: 400 1vmax cursive;
  }

.loginBtn:hover,
.RegisterBtn:hover {
  background-color: #08b8b8;
}

input:invalid[focused="true"] ~ .required-massage{
    display: block;
    position: absolute;
    margin-top: 14vh;
    margin-right: 4vh;
}

.required-massage{
  font-size: 1--vh;
  padding: 3px;
  color: red;
  display: none;
}

.inputImage{
  margin-top: 5vh;
}

.goToLeft {
  transform: translateX(-100%);
}

.goToForm {
  transform: translateX(0%) translateY(-100%);
}

.goToRight {
  transform: translateX(100%);
}
.inputImage{
  margin-top: 5vh;
}


@media screen and (max-width: 600px) {
  .LoginRegisterContainer {
    background-color: white;
  }
  .LoginRegisterBox {
    width: 100vw;
    height: 95vh;
  }
  .login_Register_toggle {
    height: 5vmax;
  }
  .login_Register_toggle > p {
    font: 300 1.5vmax "Roboto";
  }

  .loginForm,
  .RegisterForm {
    padding: 5vmax;
  }

  .loginForm > div > input,
  .RegisterForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .loginForm > div > svg,
  .RegisterForm > div > svg {
    font-size: 2.8vmax;
  }


  .loginForm > a {
    font: 500 1.8vmax "Gill Sans";
  }
  .loginBtn,
  .RegisterBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }

}